div {
    background-color: #2b2b2b;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 300px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    font-family: "Inter", Verdana, Arial;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

img {
    width: 25px;
    height: 25px;
}

p {
    margin-bottom: 5px; /* between paragraphs */
    }